// Place all the styles related to the licences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html, body {
    margin: 0;
    width: 100%;
    display: flex;
    font-family: Verdana, sans-serif;
    background-image :linear-gradient(#14bdff, #14bdfe);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
  padding-bottom: 25px;
  padding-top:: 25px;
}

.form {
  flex-grow: 4;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.input {
    width: 100%;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



a, a:link, a:visited, h1, label{
  color: white;
  text-decoration:none;
}
