.categories .title{
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid #1b24d1;
  padding-right: 1%;
  align-items: baseline;

}
.categories h6{
  border:none;
}

.user {
  display: flex;
  padding: .5vh .5vw;
}

.user .hb .ph p, span{
    text-align: left;
}

.user .hb .pb p, span{
    text-align: left;
}

.user img{
  height: 20vh;
  width: 10vw;
  margin-right: 1vw;
}

.user p span {
  color: black;
}

.user p, a {
  font-size: .7vw;
}

p {
  text-align: left;
  margin: 0;
}

.user .ph {
  margin-bottom: 3vh;
}

.user .pb > a {
  color: red;
  text-decoration: none;
}

.user .pb p a {
  color: black;
}

.bio {
  min-height: 10vh;
}

.categories h6 {
  	font-family: Verdana, sans-serif;
  	color: #1b24d1;
    font-size: 18px;
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
}
