<%= stylesheet_link_tag "comments" %>
<%= image_tag "Logos/MDC2.png", width: "50%" %>
<h1>Ajouter un éditeur</h1>
<%= form_tag "/editeurs", method: "post" do %>
  <label>Nom de l'édition</label>
  <input type="text" name="nom"/>
  <input type="submit" value="Ajouter" />
<% end %>
