<h1>Nouveautés</h1>
<% @NewRef.each do |selRef| %>
  <p><%= selRef.titre %></p>
<% end %>


<br/><br/><br/><br/><br/>
<h1>Sponsorisé</h1>

<% @SponsoRef.each do |selRef| %>
  <p><%= selRef.titre %></p>
<% end %>
