<%= stylesheet_link_tag "comments" %>
<%= image_tag "Logos/MDC2.png", width: "50%" %>
<h1>Ajouter un studio</h1>
<%= form_tag "/studios", method: "post" do %>
  <label>Nom du Studio</label>
  <input type="text" name="nom"/>
  <input type="submit" value="Ajouter" />
<% end %>
