<%= stylesheet_link_tag "comments" %>
<%= image_tag "Logos/MDC2.png", width: "50%" %>
<h1>Ajouter une licence</h1>
<%= form_tag "/licences", method: "post" do %>
  <label>Nom de la licence</label>
  <input type="text" name="nom"/>
  <input type="submit" value="Ajouter" />
<% end %>
